
 <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2> نحن</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            مسارات الجودة تعتمد في تقديم خد على تطبيق جميع المعايير الوطنية والدولية والتي تضمن تحقيق أفضل إنجازواستفادة لجميع متطلبات العملاء والجهات التي نتعامل معها بشكل احترافي يضمن الوصول إلى الصدارة والجدارة والمنافسة العالمية فى ظل رؤية المملكة
          </p>
          <ul >
            <li style="font-size:1.2rem" ><i class="ri-check-double-line"></i> تسعى شركتنا [ مسارات الجودة ] باستقطاب الكفاءات والكوادر والخبرات البشرية</li>
            <li style="font-size:1.2rem"><i class="ri-check-double-line"></i>  ًما فنحن ندرك إدراكا تا بأهمية التطوير والتحسين والتميز المؤسس ي وأهمية ضمان الجودة للعمليات والإجراءات</li>
            <li style="font-size:1.2rem"><i class="ri-check-double-line"></i> لتحقيق القيمة المضافة والاستدامة المهنية والفنية والمجتمعية والمالية وفق طبيعة كل مؤسسة.لتحقيق القيمة المضافة والاستدامة المهنية والفنية والمجتمعية والمالية وفق طبيعة كل مؤسسة.</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            تقدم شركتنا [ مسارات الجودة ] جميع الخدمات الإدارية والتطويرية وتطبيق معاييرالجودة واليزو وفق أسس علمية ومنهجية ترتكزعلى الإبداع والابتكار وفق الخطة الاستراتيجية والتشغيلية لكل مؤسسة لتنافس بها العلامات التجارية الأخرى في تقديم الخدمات الاستشارية المعتمدة
          </p>
          <a href="#" class="btn-learn-more">اقرا اكثر عنا</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3>لماذا شـركـة <strong>مـسارات الـجـودة للاسـتـشارات الإداريـة</strong></h3>
            <p style="font-size:1.2rem">
              وتؤهل شركتنا جميع المؤسسات للحصول على أي شهادة دولية تأهيل – تدريب- تقييم – فحص -تدقيق – مراجعة – تميز مؤسس يتقدم مسارات الجودة برامج التأهيل والتمكين لجميع الجهات والمؤسسات والجمعيات والمصانع والشركات والأفراد من أهمه
              تمكن شركة مسارات الجودة المؤسسات والشركات والجمعيات من اكتساب مهارات التسويق الاحترافي للمؤسسة والتميز في خدمة العملاء واستقطاب عملاء جدد للمؤسسات وتقدم دراسات حالة من خلال دراسة حالة العملاء وبناء خطط التسويق والتميز في خدمة العملاء مما يحقق مستهدفات النمو المطلوبة وترسيخ السمعة السوقية . تساعد وتدعم شركة مسارات الجودة جميع مؤسسات القطاع العام الخاص والقطاع غير الربحي في بناء النظام المؤسسي والخطط المؤسسية وخطط التحسين ودراسات التقييم وتقديم الدعم التقني للمؤسسات بالشراكة مع شركة متخصصة في البرمجة
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>   <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                 
                    <ul class="row">
                      <li class="col-md-4" style="margin-top: 10px;">  حوكمة الإجراءات والعمليات</li>
                      <li class="col-md-4">  دليل التخطيط الاستراتيجي</li>
                      <li class="col-md-4"> دليل المتابعة والتقييم</li>
                      <li class="col-md-4">   دليل المخاطر – دليل التدريب </li>
                      <li class="col-md-4">إدارة العمليات والإجراءات</li>
                      <li class="col-md-4">تطوير مواقع التواصل</li>
                  </ul>
                  
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  
                    <ul class="row">
                      <li class="col-md-4" style="margin-top: 10px;">تأهيل وتدريب العاملين </li>
                      <li class="col-md-4"> تأهيل وتمكين القيادات</li>
                      <li class="col-md-4">جميع برامج مهارات تطوير الذات</li>
                      <li class="col-md-4"> قياس الأثر للبرامج والمشروعات</li>
                  </ul>
              
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <ul dir="rtl" class="row" >
                      <li  class="col-md-4" style="margin-top: 10px;">التنمية المهنية المستدامة</li>
                      <li class="col-md-4">   تصميم المبادرات والبرامج</li>
                      <li class="col-md-4"> الخطة الاستراتيجية والتشغيلية</li>
                      <li class="col-md-4" >  تطوير وتحسين الأداء المؤسسي</li>
                  </ul>
                </div>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style="background-image: url('assets/img/why-us.png')" data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
  </section><section id="why-us1" class="why-us1 section-bg" style="background-color: white;">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row " >
        <div class="col-lg-5 align-items-stretch order-1  img" style="background-image: url('assets/img/skills.png')" data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content1" dir="rtl">
            <h3>لماذا شـركـة <strong>مـسارات الـجـودة للاسـتـشارات الإداريـة</strong></h3>
          </div>

          <div class="accordion-list1" >
            <ul >
              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span dir="rtl" style="margin-left: 99%;">02</span>  <i class="bx bx-chevron-down icon-show1" style="margin-right: 99%;"></i><i class="bx bx-chevron-up icon-close1" style="margin-right: 99%;"></i></a>
                <div id="accordion-list-4" class="collapse show" data-bs-parent=".accordion-list1">
                    <ul class="row" dir="rtl">
                      <li class="col-md-4" style="margin-top: 10px;">  مواصفات الأيزو</li>
                      <li class="col-md-4">  إدارة الأزمات</li>
                      <li class="col-md-4">المراجعة الداخلية والخارجية</li>
                      <li class="col-md-4">  التميز المؤسسي</li>
                      <li class="col-md-4">قياس الأثر</li>
                  </ul>
                  
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed"><span style="margin-left: 99%;">02</span>  <i class="bx bx-chevron-down icon-show1" style="margin-right: 99%;"></i><i class="bx bx-chevron-up icon-close1" style="margin-right: 99%;"></i></a>
                <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list1">
                  
                    <ul class="row">
                      <li class="col-md-4" style="margin-top: 10px;">  دليل الإجراءات والسياسات</li>
                      <li class="col-md-4" >  دليل النماذج المستخدمة  </li>
                      <li class="col-md-4" > الميثاق الأخلاقي -</li>
                      <li class="col-md-4" >  قياس المهارات والجدارات</li>
                      <li class="col-md-4" >تقييم المواقع و تطويرها</li>
                  </ul>
              
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-6" class="collapsed"><span style="margin-left: 99%;">03</span>  <i class="bx bx-chevron-down icon-show1" style="margin-right: 99%;"></i><i class="bx bx-chevron-up icon-close1" style="margin-right: 99%;"></i></a>
                <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list1">
                    <ul  class="row" >
                      <li class="col-md-4" >  تقييم وتطوير الموارد البشرية</li>
                      <li class="col-md-4">  خطط التطوير والتحسين الإداري</li>
                      <li class="col-md-4">لخطة الاستراتيجية والتشغيلية</li>
                      <li class="col-md-4"> المبادرات والبرامج والأنشطة</li>
                      <li class="col-md-4">  الخطة التسويقية والتوسع
                          والانتشار والعلامات التجاري </li>
                  </ul>
                </div>
              </li>
              
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
