
<!-- End Hero -->
<app-navbar></app-navbar>
<main id="main">


 
  
  <!-- ======= Skills Section ======= -->
 
<router-outlet></router-outlet>
  <section id="cliens" class="cliens section-bg" style="margin-top: 50px;">
    <div class="container">
      
      <div class="row" data-aos="zoom-in">
        <h1 style="color: #427DB2;">نقدم لكم بعض عملاؤنا</h1>
        <owl-carousel-o [options]="customOptions" >
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/1.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/2.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/3.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/4.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/5.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/6.png" alt=""></a></ng-template> 
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/7.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/8.png" alt=""></a></ng-template>
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/9.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/10.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/11.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/12.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/13.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/14.png" alt=""></a></ng-template> 
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/15.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/16.png" alt=""></a></ng-template>   
          </owl-carousel-o>
  
       
      </div>

    </div>
  </section>


 
 

</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<app-footer></app-footer>

