<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="#">الرئيسية</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar" >
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">الرئيسية</a></li>
        <li><a class="nav-link scrollto" href="#about">من نحن</a></li>
        <li><a class="nav-link scrollto" href="#services">الخدمات</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">عملاؤنا</a></li>
        <li><a class="nav-link scrollto" href="#team">رؤيتنا</a></li>
        <li><a class="nav-link scrollto" href="#contact">اتصل بنا </a></li>
        <li><a class="getstarted scrollto" href="#about">ابدا معنا</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->

<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('assets/img/slide/slide-2.jpg');">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">مرحبا  <span>شـركـة مـسارات الـجـودة للاسـتـشارات الإداريـة</span></h2>
            <p class="animate__animated animate__fadeInUp">سارات الجودة للاستشارات الإدارية وتطوير الأعمال للقطاعات الحكومية والخاصة والخيرية تقدم كافة الخدمات التطويرية والاستشارات الإدارية والتقنية لتطوير وتحسين الأداء وفق أحدث الطرق والاستراتيجيات العلمية بمهارات فريق استشاري متخصص من الخبراء والاستشاريين ذوي الكفاءة والخبرة العالية في كافة المجالات التطويرية والتأهيلية كما نساهم بالتأهيل للشهادات الدولية و الجو ائز الوطنية ونقدم خدماتنا في كافة مدن المملكة

              .</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">اكثر عنا</a>
           
          </div>
        </div>
        
      </div>
      <!-- Slide 1 -->
      <!-- Slide 2 -->
    </div>

  </div>
</section>
<!-- End Hero -->

<main id="main">

  <!-- ======= Cliens Section ======= -->
 <!-- End Cliens Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2> نحن</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            مسارات الجودة تعتمد في تقديم خد على تطبيق جميع المعايير الوطنية والدولية والتي تضمن تحقيق أفضل إنجازواستفادة لجميع متطلبات العملاء والجهات التي نتعامل معها بشكل احترافي يضمن الوصول إلى الصدارة والجدارة والمنافسة العالمية فى ظل رؤية المملكة
          </p>
          <ul >
            <li style="font-size:1.2rem" ><i class="ri-check-double-line"></i> تسعى شركتنا [ مسارات الجودة ] باستقطاب الكفاءات والكوادر والخبرات البشرية</li>
            <li style="font-size:1.2rem"><i class="ri-check-double-line"></i>  ًما فنحن ندرك إدراكا تا بأهمية التطوير والتحسين والتميز المؤسس ي وأهمية ضمان الجودة للعمليات والإجراءات</li>
            <li style="font-size:1.2rem"><i class="ri-check-double-line"></i> لتحقيق القيمة المضافة والاستدامة المهنية والفنية والمجتمعية والمالية وفق طبيعة كل مؤسسة.لتحقيق القيمة المضافة والاستدامة المهنية والفنية والمجتمعية والمالية وفق طبيعة كل مؤسسة.</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            تقدم شركتنا [ مسارات الجودة ] جميع الخدمات الإدارية والتطويرية وتطبيق معاييرالجودة واليزو وفق أسس علمية ومنهجية ترتكزعلى الإبداع والابتكار وفق الخطة الاستراتيجية والتشغيلية لكل مؤسسة لتنافس بها العلامات التجارية الأخرى في تقديم الخدمات الاستشارية المعتمدة
          </p>
          <a href="#" class="btn-learn-more">اقرا اكثر عنا</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
 
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3>لماذا شـركـة <strong>مـسارات الـجـودة للاسـتـشارات الإداريـة</strong></h3>
            <p style="font-size:1.2rem">
              وتؤهل شركتنا جميع المؤسسات للحصول على أي شهادة دولية تأهيل – تدريب- تقييم – فحص -تدقيق – مراجعة – تميز مؤسس يتقدم مسارات الجودة برامج التأهيل والتمكين لجميع الجهات والمؤسسات والجمعيات والمصانع والشركات والأفراد من أهمه
              تمكن شركة مسارات الجودة المؤسسات والشركات والجمعيات من اكتساب مهارات التسويق الاحترافي للمؤسسة والتميز في خدمة العملاء واستقطاب عملاء جدد للمؤسسات وتقدم دراسات حالة من خلال دراسة حالة العملاء وبناء خطط التسويق والتميز في خدمة العملاء مما يحقق مستهدفات النمو المطلوبة وترسيخ السمعة السوقية . تساعد وتدعم شركة مسارات الجودة جميع مؤسسات القطاع العام الخاص والقطاع غير الربحي في بناء النظام المؤسسي والخطط المؤسسية وخطط التحسين ودراسات التقييم وتقديم الدعم التقني للمؤسسات بالشراكة مع شركة متخصصة في البرمجة
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>   <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                 
                    <ul class="row">
                      <li class="col-md-4" style="margin-top: 10px;">  حوكمة الإجراءات والعمليات</li>
                      <li class="col-md-4">  دليل التخطيط الاستراتيجي</li>
                      <li class="col-md-4"> دليل المتابعة والتقييم</li>
                      <li class="col-md-4">   دليل المخاطر – دليل التدريب </li>
                      <li class="col-md-4">إدارة العمليات والإجراءات</li>
                      <li class="col-md-4">تطوير مواقع التواصل</li>
                  </ul>
                  
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  
                    <ul class="row">
                      <li class="col-md-4" style="margin-top: 10px;">تأهيل وتدريب العاملين </li>
                      <li class="col-md-4"> تأهيل وتمكين القيادات</li>
                      <li class="col-md-4">جميع برامج مهارات تطوير الذات</li>
                      <li class="col-md-4"> قياس الأثر للبرامج والمشروعات</li>
                  </ul>
              
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <ul dir="rtl" class="row" >
                      <li  class="col-md-4" style="margin-top: 10px;">التنمية المهنية المستدامة</li>
                      <li class="col-md-4">   تصميم المبادرات والبرامج</li>
                      <li class="col-md-4"> الخطة الاستراتيجية والتشغيلية</li>
                      <li class="col-md-4" >  تطوير وتحسين الأداء المؤسسي</li>
                  </ul>
                </div>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style="background-image: url('assets/img/why-us.png')" data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
  </section>

  <!-- ======= Skills Section ======= -->
 
  <section id="why-us1" class="why-us1 section-bg" style="background-color: white;">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row " >
        <div class="col-lg-5 align-items-stretch order-1  img" style="background-image: url('assets/img/skills.png')" data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content1" dir="rtl">
            <h3>لماذا شـركـة <strong>مـسارات الـجـودة للاسـتـشارات الإداريـة</strong></h3>
          </div>

          <div class="accordion-list1" >
            <ul >
              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span dir="rtl" style="margin-left: 99%;">02</span>  <i class="bx bx-chevron-down icon-show1" style="margin-right: 99%;"></i><i class="bx bx-chevron-up icon-close1" style="margin-right: 99%;"></i></a>
                <div id="accordion-list-4" class="collapse show" data-bs-parent=".accordion-list1">
                    <ul class="row" dir="rtl">
                      <li class="col-md-4" style="margin-top: 10px;">  مواصفات الأيزو</li>
                      <li class="col-md-4">  إدارة الأزمات</li>
                      <li class="col-md-4">المراجعة الداخلية والخارجية</li>
                      <li class="col-md-4">  التميز المؤسسي</li>
                      <li class="col-md-4">قياس الأثر</li>
                  </ul>
                  
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed"><span style="margin-left: 99%;">02</span>  <i class="bx bx-chevron-down icon-show1" style="margin-right: 99%;"></i><i class="bx bx-chevron-up icon-close1" style="margin-right: 99%;"></i></a>
                <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list1">
                  
                    <ul class="row">
                      <li class="col-md-4" style="margin-top: 10px;">  دليل الإجراءات والسياسات</li>
                      <li class="col-md-4" >  دليل النماذج المستخدمة  </li>
                      <li class="col-md-4" > الميثاق الأخلاقي -</li>
                      <li class="col-md-4" >  قياس المهارات والجدارات</li>
                      <li class="col-md-4" >تقييم المواقع و تطويرها</li>
                  </ul>
              
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-6" class="collapsed"><span style="margin-left: 99%;">03</span>  <i class="bx bx-chevron-down icon-show1" style="margin-right: 99%;"></i><i class="bx bx-chevron-up icon-close1" style="margin-right: 99%;"></i></a>
                <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list1">
                    <ul  class="row" >
                      <li class="col-md-4" >  تقييم وتطوير الموارد البشرية</li>
                      <li class="col-md-4">  خطط التطوير والتحسين الإداري</li>
                      <li class="col-md-4">لخطة الاستراتيجية والتشغيلية</li>
                      <li class="col-md-4"> المبادرات والبرامج والأنشطة</li>
                      <li class="col-md-4">  الخطة التسويقية والتوسع
                          والانتشار والعلامات التجاري </li>
                  </ul>
                </div>
              </li>
              
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          
        </div>
       
      </div>

    </div>
  </section><!-- End Skills Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>اهدافنا </h2>
        <p style="font-size:1.2rem">نقدم في مسارات الجودة مجموعة من الخدمات المتكاملة لجميع المؤسسات ونسخر جميع طاقاتنا وخبراتنا من خلال فريقنا الاستشاري والخبراء الوطنيين والدوليين المتعاونين معنا بتقديم جميع تي الخدمات المطلوبة التطويرية والإدارية وال من شأنها أن تدفع عجلة تطوير الأعمال في مختلف</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">  الهدف الاؤل</a></h4>
            <p>
              التميز في تقديم الاستشارات وأعمال التطوير وفق المعايير المعتمدة</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">الهدف الثانى</a></h4>
            <p>مكين المؤسسات التي نتعامل معها من مهارات التحسين والتطوير المستمر للعمليات الإدارية وفق الخطة الاستراتيجية لكل مؤسسة</p>
          </div>
        </div>
        

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">الهدف الثالث</a></h4>
            <p>الفاعلية والكفاءة في تقديم الخدمات الاستشارية التي تساهم بتحقيق الأهداف</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a href="">الهدف الرابع </a></h4>
            <p>توظيف التكنولوجيا والبرامج الحديثة في أعمال التطوير</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">الهدف اخامس</a></h4>
            <p>مساعدة القطاعات في تقييم الوضع المؤسس ي الحالي لتطوير الأداء</p>
          </div>
        </div>
        
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">الهدف السادس</a></h4>
            <p>التدريب والمتابعة المستمرة لتحقيق التمكين لفرق العمل</p>
          </div>
        </div>
  
      </div>
      
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>خدماتنا</h3>
          <p>قطاعات والشركات والجمعيات والمصانع والمؤسسات التعليمية والمراكز المعتمدة بما يلائم تلبية احتياجاتهم وتطلعاتهم الحالية والمستقبلية مع مراعاة التكامل وضمان الجودة في كل ما نقدمه من أعمال تطويريه للمؤسسة وتقديم أفضل النتائج وفق معايير ومؤشرات معتمدة للخدمات التي تقدم من خلال شركتنا [ مسارات الجودة</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->
  <div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="position-relative d-inline text-primary ps-4" >خدماتنا</h1>
            <h2 class="mt-2">
              نقدم جميع خدمات التأهيل والتطوير والتقييم وقياس الأثر ومساعدة المؤسسات للحصول على المنح لجميع شهادات الأيزو الدولية بالتنسيق مع الجهات الدولية المعتمدة لمنح جميع شهادات الأيزو والجوائز الوطنية والعالمية</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-aos="zoom-in" data-aos-delay="100">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="mb-3">أمن المجتمعي – نظم إدارة استمرارية الأعمال
                    </h5>
                    <p>ISO 22301</p>
                    <a class="btn px-3 mt-auto mx-auto" href="">اقرا اكثر</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="mb-3">نظام أمن وسرية المعلومات
                      </h5>
                      <p>ISO27001</p>
                    <a class="btn px-3 mt-auto mx-auto" href="">اقرا اكثر</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-aos="zoom-in" data-aos-delay="300">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="mb-3">دارة الجودة في المؤسسات الصحية
                      </h5>
                      <p>ISO 15224</p>
                    <a class="btn px-3 mt-auto mx-auto" href="">اقرا اكثر</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-aos="zoom-in" data-aos-delay="400">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="mb-3">المراجعات الداخلية لنظام إدارة الجودة
                      </h5>
                      <p>ISO 19011</p>
                    <a class="btn px-3 mt-auto mx-auto" href="">اقرا اكثر</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-aos="zoom-in" data-aos-delay="500">
              <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                  <div class="service-icon flex-shrink-0">
                      <i class="fa fa-home fa-2x"></i>
                  </div>
                  <h5 class="mb-3">سياسات أنظمة إدارة المعامل الطبية
                    </h5>
                    <p>ISO 15189</p>
                  <a class="btn px-3 mt-auto mx-auto" href="">اقرا اكثر</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow zoomIn" data-aos="zoom-in" data-aos-delay="600">
              <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                  <div class="service-icon flex-shrink-0">
                      <i class="fa fa-home fa-2x"></i>
                  </div>
                  <h5 class="mb-3">الحوكمة المؤسسية لتقنية المعلومات
                    </h5>
                    <p>ISO38500</p>
                  <a class="btn px-3 mt-auto mx-auto" href="">اقرا اكثر</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow zoomIn" data-aos="zoom-in" data-aos-delay="700">
            <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                <div class="service-icon flex-shrink-0">
                    <i class="fa fa-home fa-2x"></i>
                </div>
                <h5 class="mb-3">السلامة والصحة المهنية
                   
                  </h5>
                  <p>ISO 45001</p>
                <a class="btn px-3 mt-auto mx-auto" href="">اقرا اكثر</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow zoomIn" data-aos="zoom-in" data-aos-delay="800" >
          <div class="service-item d-flex flex-column justify-content-center text-center rounded">
              <div class="service-icon flex-shrink-0">
                  <i class="fa fa-home fa-2x"></i>
              </div>
              <h5 class="mb-3">لممارسة المهنية لمراكزالتدريب والتعليم
                
                </h5>
                <p>ISO 29990</p>
              <a class="btn px-3 mt-auto mx-auto" href="">اقرا اكثر</a>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-aos="zoom-in" data-aos-delay="900">
        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
            <div class="service-icon flex-shrink-0">
                <i class="fa fa-home fa-2x"></i>
            </div>
            <h5 class="mb-3"> جودة عمليات التدريب وتطويرالكفاءات بالمؤسسات موجهات لإدارة الكفايات
             
              </h5>
              <p> المهارات) وتطويرالأفراد بالمؤسسات الاحتياجات التدريبية تصميم وتخطيط التدريب ( (ISO 1001</p>
            <a class="btn px-3 mt-auto mx-auto" href="">اقرا اكثر</a>
        </div>
      </div>
        </div>
    </div>
  </div>
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>فريقنا</h2>
        <div class="py-6">
          <div class="container-xxl">
              <div class="row g-5 align-items-center">
                  <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                      <img class="img-fluid" src="assets/img/team2.png">
                  </div>
                  <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
                      <div class="d-inline-block border rounded-pill text-primary px-4 mb-3"><h1> فريقنا</h1></div>
                      <h2 class="mb-4">شـركـة مـسارات الـجـودة للاسـتـشارات الإداريـة</h2>
                      <p class="mb-4">متلك مسارات الجودة فريق عمل مهني متخصص متكامل الجهود والخبرات يسعى للتطويرو التحسين
                          ًئما
                          دا
                          المستمر لتحقيق التنمية المهنية المستدامة وتراكم الخبرة وتحسين الأداء ونتميز في مسارات الجودة بوجود عدد
                          من الخبراء والاستشاريين بخبرات لأكثر من  25سنة في مجال التطوير والتميز المؤسس ي والتدريب والتأهيل
                          والتنسيق مع الجهات الدولية لمنح الشهادات وفق متطلبات الجهة</p> 
                      <div class="row g-3 mb-4">
                          <div class="col-12 d-flex">
                              <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary" style="margin-left:30px">
                                  <i class="fa fa-user-tie text-white"></i>
                              </div>
                              <div class="ms-4">
                                  <span>كما يتمتع الفريق بالمعرفة والخبرة الواسعة في كافة مجالات سوق العمل والتطوير الإداري والتعليمي والقيمي
                                      وعلى أتم الجاهزية لتقديم أفضل خدمات الدعم الفني والاستشارات الإدارية والتطويرية مما يحقق ضمان
                                      جودة الخدمات لإبهار وإسعاد عملائنا.</span>
                              </div>
                          </div>
                          <div class="col-12 d-flex">
                              <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary" style="margin-left:30px">
                                  <i class="fa fa-chart-line text-white"></i>
                              </div>
                              <div class="ms-4">
                                  
                                  <span>تسعى شركتنا [ مسارات الجودة ] باستقطاب الكفاءات والكوادر والخبرات البشرية ،
                                      ًما
                                      فنحن ندرك إدراكا تا
                                      بأهمية التطوير والتحسين والتميز المؤسس ي وأهمية ضمان الجودة للعمليات والإجراءات لتحقيق القيمة
                                      المضافة والاستدامة المهنية والفنية والمجتمعية والمالية وفق طبيعة كل مؤسسة.</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="pic"><img src="assets/img/mission.webp" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>رسالتنا</h4>
              <span>قديم الخدمات الاستشارية</span>
              <p>   وتطويرالأعمال وفق منهجية علمية وخبرات متطورة تركز على الجود</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
            <div class="pic"><img src="assets/img/d.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>شعارنا</h4>
              <span>تبع مسارات الجودة</span>
              <p>المعتمدة لتحقيق أهداف شركاء
                النجاح</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="assets/img/val.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>قيمنا</h4>
              <span>الثقة – المصداقية – الشفافية</span>
              <p>الأمانة – سرعة التنفيذ – الشراكة المستدامة</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
            <div class="pic"><img src="assets/img/v.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>الرؤية</h4>
              <span>بداع والتميز لضمان جودة</span>
              <p>واستدامة الخدمات المقدمة لشركاء النجاح </p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  <section id="faq" class="faq section-bg" style="margin-top: 150px;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <p >نقدم الدعم والمساندة ومشاركة المؤسسات والشركات في التقديم على الجوائز
          المحلية والوطنية وفق المعايير الوطنية والعالمية</p>
      </div>

      <div class="faq-list">
        <ul >
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1" style="font-size: 1.5rem;">جائزة الملك عبد العزيز للجودة  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed" style="font-size: 1.5rem;">جائزة التميز الأوربي "التميز المؤسسي  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed" style="font-size: 1.5rem;">تصميم الجوائز الداخلية للمؤسسات  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed" style="font-size: 1.5rem;">تصميم المبادرات النوعية لتحسين وتطويرالأداء  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed" style="font-size: 1.5rem;">  برنامج الأفكار الإبداعية لتطوير الشركات والمؤسسات  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed" style="font-size: 1.5rem;">الاستثمارالاجتماعي للمؤسسات وفق قياس العائد الاستثماري " المسؤولية الاجتماعية  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed" style="font-size: 1.5rem;" > الاستدامة المالية والتشبيك مع المنصات والجهات الداعمة <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed" style="font-size: 1.5rem;">قياس أثر البرامج للشركات والجمعيات وقياس مدى التأثير المستقبلي والقيمة السوقية <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          
        </ul>
      </div>

    </div>
  </section>
  <section id="cliens" class="cliens section-bg" style="margin-top: 50px;">
    <div class="container">
      
      <div class="row" data-aos="zoom-in">
        <h1 style="color: #427DB2;">نقدم لكم بعض عملاؤنا</h1>
        <owl-carousel-o [options]="customOptions" >
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/1.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/2.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/3.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/4.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/5.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/6.png" alt=""></a></ng-template> 
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/7.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/8.png" alt=""></a></ng-template>
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/9.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/10.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/11.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/12.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/13.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/14.png" alt=""></a></ng-template> 
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/15.png" alt=""></a></ng-template>  
          <ng-template carouselSlide><a href="#"><img class="img-fluid" style="width: 200px; height: 200px; " src="assets/img/16.png" alt=""></a></ng-template>   
          </owl-carousel-o>
  
       
      </div>

    </div>
  </section>

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>معرض الصور</h2>
      </div>

      <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <li data-filter="*" class="filter-active">الكل</li>
        <li data-filter=".filter-app">تطبيق</li>
        <li data-filter=".filter-card">كارت</li>
        <li data-filter=".filter-web">ويب</li>
      </ul>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>تطبيق 1</h4>
            <p>تطبيق</p>
            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>ويب 3</h4>
            <p>ويب</p>
            <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>تطبيق 2</h4>
            <p>تطبيق</p>
            <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>كارت 2</h4>
            <p>كارت</p>
            <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>وييب 2</h4>
            <p>ويب</p>
            <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>تطبيق 3</h4>
            <p>تطبيق</p>
            <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>كارت 1</h4>
            <p>كارت</p>
            <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>كارت 3</h4>
            <p>كارت</p>
            <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>ويب 3</h4>
            <p>ويب</p>
            <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

 
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>تواصل معنا</h2>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>المكان:</h4>
              <p>: الدمام  6361 - 32414 حى المزروعية. طريق الملك فيصل
                </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>البريد الالكترونى:</h4>
              <p>info@quality paths.com.sa</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>التليفون:</h4>
              <p>0138210100</p>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">اسمك</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">البريد  الكترونى</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">الموضوع </label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group">
              <label for="name">الرسالة</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">جارلى الارسال</div>
              <div class="error-message"></div>
              <div class="sent-message">تم ارسلال شكرا لمك</div>
            </div>
            <div class="text-center"><button type="submit">ارسال</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" >

  

  <div class="footer-top" style="background-color: #37517E;">
    <div class="container">
      <div class="row" >

        <div class="col-lg-3 col-md-6 footer-contact" >
          <h3 style=" color: white; font-size: 1.2rem;">الجودة</h3>
          <p style=" color: white; font-size: 1.2rem;">
            الدمام  6361    <br>
            حى المزروعية<br>
             طريق الملك فيصل<br><br>
            <strong >الموبايل:</strong>  0138210100<br>
            <strong>البريد:</strong> info@quality paths.com.sa<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links" style=" color: white; font-size: 1.2rem;">
          <h4>هنا</h4>
          <ul style=" color: white; font-size: 1.5rem;">
            <li><i class="bx bx-chevron-right"></i> <a href="#" style=" color: white; font-size: 1.2rem;">الرئيسية</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#" style=" color: white; font-size: 1.2rem;"> نحن</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#" style=" color: white; font-size: 1.2rem;">خدماتنا</a></li>
           
          </ul>
        </div>

       

        <div class="col-lg-3 col-md-6 footer-links" style=" color: white; font-size: rem;">
          <h4>التواصل الاجتماعى</h4>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

 
</footer><!-- End Footer -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
