
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>فريقنا</h2>
        <div class="py-6">
          <div class="container-xxl">
              <div class="row g-5 align-items-center">
                  <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                      <img class="img-fluid" src="assets/img/team2.png">
                  </div>
                  <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
                      <div class="d-inline-block border rounded-pill text-primary px-4 mb-3"><h1> فريقنا</h1></div>
                      <h2 class="mb-4">شـركـة مـسارات الـجـودة للاسـتـشارات الإداريـة</h2>
                      <p class="mb-4">متلك مسارات الجودة فريق عمل مهني متخصص متكامل الجهود والخبرات يسعى للتطويرو التحسين
                          ًئما
                          دا
                          المستمر لتحقيق التنمية المهنية المستدامة وتراكم الخبرة وتحسين الأداء ونتميز في مسارات الجودة بوجود عدد
                          من الخبراء والاستشاريين بخبرات لأكثر من  25سنة في مجال التطوير والتميز المؤسس ي والتدريب والتأهيل
                          والتنسيق مع الجهات الدولية لمنح الشهادات وفق متطلبات الجهة</p> 
                      <div class="row g-3 mb-4">
                          <div class="col-12 d-flex">
                              <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary" style="margin-left:30px">
                                  <i class="fa fa-user-tie text-white"></i>
                              </div>
                              <div class="ms-4">
                                  <span>كما يتمتع الفريق بالمعرفة والخبرة الواسعة في كافة مجالات سوق العمل والتطوير الإداري والتعليمي والقيمي
                                      وعلى أتم الجاهزية لتقديم أفضل خدمات الدعم الفني والاستشارات الإدارية والتطويرية مما يحقق ضمان
                                      جودة الخدمات لإبهار وإسعاد عملائنا.</span>
                              </div>
                          </div>
                          <div class="col-12 d-flex">
                              <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary" style="margin-left:30px">
                                  <i class="fa fa-chart-line text-white"></i>
                              </div>
                              <div class="ms-4">
                                  
                                  <span>تسعى شركتنا [ مسارات الجودة ] باستقطاب الكفاءات والكوادر والخبرات البشرية ،
                                      ًما
                                      فنحن ندرك إدراكا تا
                                      بأهمية التطوير والتحسين والتميز المؤسس ي وأهمية ضمان الجودة للعمليات والإجراءات لتحقيق القيمة
                                      المضافة والاستدامة المهنية والفنية والمجتمعية والمالية وفق طبيعة كل مؤسسة.</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="pic"><img src="assets/img/mission.webp" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>رسالتنا</h4>
              <span>قديم الخدمات الاستشارية</span>
              <p>   وتطويرالأعمال وفق منهجية علمية وخبرات متطورة تركز على الجود</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
            <div class="pic"><img src="assets/img/d.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>شعارنا</h4>
              <span>تبع مسارات الجودة</span>
              <p>المعتمدة لتحقيق أهداف شركاء
                النجاح</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="assets/img/val.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>قيمنا</h4>
              <span>الثقة – المصداقية – الشفافية</span>
              <p>الأمانة – سرعة التنفيذ – الشراكة المستدامة</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
            <div class="pic"><img src="assets/img/v.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>الرؤية</h4>
              <span>بداع والتميز لضمان جودة</span>
              <p>واستدامة الخدمات المقدمة لشركاء النجاح </p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>