<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('assets/img/slide/slide-2.jpg');">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">مرحبا  <span>شـركـة مـسارات الـجـودة للاسـتـشارات الإداريـة</span></h2>
              <p class="animate__animated animate__fadeInUp">سارات الجودة للاستشارات الإدارية وتطوير الأعمال للقطاعات الحكومية والخاصة والخيرية تقدم كافة الخدمات التطويرية والاستشارات الإدارية والتقنية لتطوير وتحسين الأداء وفق أحدث الطرق والاستراتيجيات العلمية بمهارات فريق استشاري متخصص من الخبراء والاستشاريين ذوي الكفاءة والخبرة العالية في كافة المجالات التطويرية والتأهيلية كما نساهم بالتأهيل للشهادات الدولية و الجو ائز الوطنية ونقدم خدماتنا في كافة مدن المملكة
  
                .</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">اكثر عنا</a>
             
            </div>
          </div>
          
        </div>
        <!-- Slide 1 -->
        <!-- Slide 2 -->
      </div>
  
    </div>
  </section>
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
          
        </div>
       
      </div>

    </div>
  </section><!-- End Skills Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>اهدافنا </h2>
        <p style="font-size:1.2rem">نقدم في مسارات الجودة مجموعة من الخدمات المتكاملة لجميع المؤسسات ونسخر جميع طاقاتنا وخبراتنا من خلال فريقنا الاستشاري والخبراء الوطنيين والدوليين المتعاونين معنا بتقديم جميع تي الخدمات المطلوبة التطويرية والإدارية وال من شأنها أن تدفع عجلة تطوير الأعمال في مختلف</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">  الهدف الاؤل</a></h4>
            <p>
              التميز في تقديم الاستشارات وأعمال التطوير وفق المعايير المعتمدة</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">الهدف الثانى</a></h4>
            <p>مكين المؤسسات التي نتعامل معها من مهارات التحسين والتطوير المستمر للعمليات الإدارية وفق الخطة الاستراتيجية لكل مؤسسة</p>
          </div>
        </div>
        

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">الهدف الثالث</a></h4>
            <p>الفاعلية والكفاءة في تقديم الخدمات الاستشارية التي تساهم بتحقيق الأهداف</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a href="">الهدف الرابع </a></h4>
            <p>توظيف التكنولوجيا والبرامج الحديثة في أعمال التطوير</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">الهدف اخامس</a></h4>
            <p>مساعدة القطاعات في تقييم الوضع المؤسس ي الحالي لتطوير الأداء</p>
          </div>
        </div>
        
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">الهدف السادس</a></h4>
            <p>التدريب والمتابعة المستمرة لتحقيق التمكين لفرق العمل</p>
          </div>
        </div>
  
      </div>
      
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>خدماتنا</h3>
          <p>قطاعات والشركات والجمعيات والمصانع والمؤسسات التعليمية والمراكز المعتمدة بما يلائم تلبية احتياجاتهم وتطلعاتهم الحالية والمستقبلية مع مراعاة التكامل وضمان الجودة في كل ما نقدمه من أعمال تطويريه للمؤسسة وتقديم أفضل النتائج وفق معايير ومؤشرات معتمدة للخدمات التي تقدم من خلال شركتنا [ مسارات الجودة</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->
  
 
  <section id="faq" class="faq section-bg" style="margin-top: 150px;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <p >نقدم الدعم والمساندة ومشاركة المؤسسات والشركات في التقديم على الجوائز
          المحلية والوطنية وفق المعايير الوطنية والعالمية</p>
      </div>

      <div class="faq-list">
        <ul >
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1" style="font-size: 1.5rem;">جائزة الملك عبد العزيز للجودة  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed" style="font-size: 1.5rem;">جائزة التميز الأوربي "التميز المؤسسي  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed" style="font-size: 1.5rem;">تصميم الجوائز الداخلية للمؤسسات  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed" style="font-size: 1.5rem;">تصميم المبادرات النوعية لتحسين وتطويرالأداء  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed" style="font-size: 1.5rem;">  برنامج الأفكار الإبداعية لتطوير الشركات والمؤسسات  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed" style="font-size: 1.5rem;">الاستثمارالاجتماعي للمؤسسات وفق قياس العائد الاستثماري " المسؤولية الاجتماعية  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed" style="font-size: 1.5rem;" > الاستدامة المالية والتشبيك مع المنصات والجهات الداعمة <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed" style="font-size: 1.5rem;">قياس أثر البرامج للشركات والجمعيات وقياس مدى التأثير المستقبلي والقيمة السوقية <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
              <p>
              </p>
            </div>
          </li>
          
        </ul>
      </div>

    </div>
  </section>